*data/
*.DS_Store
# Archivos pesados de datos
tarea1/data/
tarea1/data_negocios/
tarea1/negocios_mexico.csv
# Archivos de sistema
.DS_Store
.DS_Store
taller/data/
taller/.RData
taller/.Rhistory
taller/resultados_finales.csv
tarea1/.DS_Store